<div class="reviews">
  <div>
    <img src="/assets/imdb.svg" height="20"/>
    <span>{{movie?.imdb?.rating}} / 10</span>
  </div>
  <div>
    <img [src]="movie?.tomatoes?.critic?.meter ? (movie?.tomatoes?.critic?.meter ?? 0) >= 60 ? '/assets/tomatometer-critic-fresh.svg' : '/assets/tomatometer-critic-rotten.svg' : '/assets/tomatometer-critic-na.svg'" height="20"/>
    <span *ngIf="movie?.tomatoes?.critic?.meter">{{movie?.tomatoes?.critic?.meter}}%</span>
  </div>
  <div>
    <img [src]="movie?.tomatoes?.viewer?.meter ? (movie?.tomatoes?.viewer?.meter ?? 0) >= 60 ? '/assets/tomatometer-viewer-fresh.svg' : '/assets/tomatometer-viewer-rotten.svg' : '/assets/tomatometer-viewer-na.svg'" height="20"/>
    <span *ngIf="movie?.tomatoes?.viewer?.meter">{{movie?.tomatoes?.viewer?.meter}}%</span>
  </div>
</div>
