
<nz-layout class="layout">
  <nz-sider nzCollapsible [nzCollapsedWidth]="0" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sider-content">
      <ul class="genres">
        <li *ngFor="let genre of genres" [ngClass]="{'active': genre === currentGenre}" (click)="setGenre(genre)">
          <h2 nz-typography>{{genre}}</h2>
        </li>
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-header (hamburgerClicked)="isCollapsed = !isCollapsed"></app-header>
    </nz-header>
    <nz-content>
      Hello world
    </nz-content>
  </nz-layout>
</nz-layout>

<router-outlet></router-outlet>
