.loading-wrapper {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.home-wrapper {
  h1 {
    color: white;
  }

  .scroll-wrapper {
    width: 100%;
    overflow: auto;
  }

  .movie-card-wrapper {
    display: flex;
    gap: .5rem;
    padding-bottom: 20px;
  }
}
